<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneShot Car</title>
    <link href="/static/dist/output.css" rel="stylesheet" />
</head>
<body>
  <div class="grid grid-cols-3">
    <!-- left column -->
    <div class="col-start-1 col-end-1.125">
      <div class="absolute inset-y-0 left-0 my-6 ml-5">
        <!-- car picture -->
        <img scr="/photos/aesthetic_car.jpg" alt="corner car">
    
        <!-- website motto text -->
        <div class="bg-slate-200 my-6">
          <!-- page contents -->
          <h1 class=" text-indigo-500 font-extrabold text-left text-2xl gap-y-6">What We Do</h1>
          <p class="text-left text-lg leading-relaxed gap-y-6">Ever spot the most beautiful car</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">you've ever seen</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">but don't know enough</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">about it to identify it?</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">Well that's where we come in!</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">Simply upload an image</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">of the car you want identified</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">into the site, and we will</p>
          <p class="text-left text-lg leading-relaxed gap-y-6">give you the extra details.</p>
        </div>
  
        <!-- team logo -->
        <img scr="/photos/logo.PNG" alt="team logo">
      </div>
    </div>

    <!-- middle column -->
    <div class="col-start-1.125 col-end-1.25">
      <div class="absolute inset-y-0">
        <!-- group name acronym -->
        <!-- TODO -->
        <header class="text-indigo-500 text-9xl text-center my-8 font-extrabold">OC</header>
  
        <!-- navigation links -->
        <div class="text-3xl text-center my-6">
          <div class="text-4xl">
            <a href="front_page" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
          </div>
            <a href="search" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Search</a>
          
            <a href="about" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          
            <a href="history" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">History</a>
          
            <a href="contact" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact us</a>
          
            <a href="resources" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Resources</a>
  
            <a href="#" class="block py-2 pr-4 pl-3 text-white bg-indigo-500 rounded md:bg-transparent md:text-indigo-500 md:p-0 dark:text-white" aria-current="page">Text to Speech</a>
        </div>
  
        <!-- picture upload area -->
        <h2 class="text-center text-lg">Upload your picture here:</h2>
        <div class='flex items-center justify-center my-3'>
          <!-- picture upload button-->
          <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            Submit
          </button>
        </div>
        <div class="flex items-center justify-center my-3">
          <!-- text search button -->
          <a href="search" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
            Text Search
          </a>
        </div>
      </div>
    </div>

    <!-- right column -->
    <div class="col-start-1.25 col-end-2">
      <div class="absolute nset-y-0 right-0 my-6 mr-5">
        <h1 class="text-right font-black">CARS</h1>
        <div class="grid grid-cols-2 gap-3 mr-10">
          <div>
            <img scr="/photos/car_ride.jpg" alt="ltop car">
            <img scr="/photos/black_car.jpg" alt="lbottom car">
          </div>
          <div>
            <img scr="/photos/car_freeway.jpg" alt="rtop car">
            <img scr="/photos/flying_car.jpg" alt="rbottom car">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>