<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneShot Car</title>
    <link id="theme" href="/static/dist/output.css" rel="stylesheet" type="text/css" />

<!--    <link href="/static/dist/output.css" rel="stylesheet" />-->
</head>
<body class="overflow-hidden">
  <div class="flex flex-row">
    <!-- left column -->
    <div class="my-6 ml-5 -mt-[12rem] grow w-3/12">
        <div class="w-full">
          <!-- car picture -->
          <img src="/static/photos/aesthetic_car.jpg" class="object-fill" alt="corner car">
        </div>
    
        <!-- website motto text -->
        <div class="bg-slate-200 my-6 p-3">
          <!-- page contents -->
          <h1 class=" text-[#bd672a] font-[1000] text-left text-3xl gap-y-6">What We Do</h1>
          <p class="text-left text-lg leading-relaxed gap-y-6">Ever spot the most beautiful car you've ever seen 
          but don't know enough 
          about it to identify it? 
          Well that's where we come in! 
          Simply upload an image 
          of the car you want identified 
          into the site, and we will 
          give you the extra details.</p>
        </div>
  
        <!-- team logo -->
        <img src="/static/photos/logo.PNG" alt="team logo" class="hue-rotate-[140deg] saturate-[.75] mb-6">
    </div>
    
    <!-- middle column -->
    <div class="ml-3 grow w-4/12">
        <!-- group name acronym -->
        <!-- TODO -->
        <header class="text-[#bd672a] text-9xl text-center mt-8 mb-8 font-extrabold underline" style="text-shadow: 1px 1px 2px black">OC</header>
  
        <!-- navigation links -->
        <div class="text-3xl text-center my-6">
          <div class="text-5xl">
            <a href="front_page" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-[#bd672a] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
          </div>
            <a href="search" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Search</a>
          
            <a href="about" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          
            <a href="history" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">History</a>
          
            <a href="contact" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact us</a>
          
            <a href="resources" class="hover:uppercase font-bold block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Resources</a>    
        </div>
  
        <!-- picture upload area -->
        <div class="mb-6 mt-8">
          <h2 class="text-center text-2xl font-black text-[#b0622a]">Upload options:</h2>
          <div class="border-solid border-[6px] border-slate-500 mx-28">
            <div class='flex items-center justify-center my-3'>
              <!-- picture upload button-->
              <a href="index" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Picture Search
              </a>
            </div>
            <div class="flex items-center justify-center my-3">
              <!-- text search button -->
              <a href="search" class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
                Text Search
              </a>
            </div>
          </div>
        </div>

        <!-- Toggle B -->
<!--        <button  class= "button" onclick="toggleTheme()" > <strong>Change Font!</strong></button>-->
<!---->
        <div class="flex items-center justify-center w-full mt-10">
          <label for="toggleB" class="flex items-center cursor-pointer" onclick="toggleTheme()">
            <!-- toggle -->
            <div class="relative">
              <!-- input -->
              <input type="checkbox" onclick="toggleTheme()" id="toggleB" class="sr-only">
              <!-- line -->
              <div class="block bg-[#bd672a] w-14 h-8 rounded-full"></div>
              <!-- dot -->
              <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
            </div>
            <!-- label -->
            <div class="ml-3 text-gray-700 font-bold text-xl">
              Dyslexia Toggle
            </div>
          </label>
        </div>
    </div>

    <!-- right column -->
    <div class="py-6 ml-[1rem] mr-5 pl-[3rem] grow w-5/12" style="box-shadow: -15px 0 15px -15px rgb(0 0 0 / 0.1)">
        <h1 class="text-right text-3xl font-black mr-10">CARS</h1>
        <p class="text-right text-xl font-extrabold mr-10 text-slate-500 mb-6">Search make, model, year ... and more !</p>
        <div class="flex mr-10 space-x-3">
          <div class="flex flex-col flex-1">
            <img src="/static/photos/car_ride.jpg" alt="ltop car" class="filter drop-shadow-lg shadow-slate-900 my-3">
            <img src="/static/photos/black_car.jpg" alt="lmid car" class="filter drop-shadow-lg shadow-slate-900 my-3">
            <img src="/static/photos/car_seats2.PNG" alt="lbottom car" class="filter drop-shadow-lg shadow-slate-900 my-3">
          </div>
          <div class="flex flex-col flex-1">
            <img src="/static/photos/car_freeway.jfif" alt="rtop car" class="drop-shadow-md shadow-slate-900 my-3">
            <img src="/static/photos/flying_car.jpg" alt="rmid car" class="drop-shadow-md shadow-slate-900 my-3">
            <img src="/static/photos/orange_car.jpg" alt="rbottom car" class="drop-shadow-md shadow-slate-900 my-3">
          </div>
        </div>
    </div>
  </div>
</body>
</html>


<script>
<!--"/static/dist/output.css"-->
<!--"/static/fonts/stylesheet.css"-->

function toggleTheme() {
  // Obtains an array of all <link> elements.
  var theme = document.getElementsByTagName('link')[0];
  console.log("got to toggleTheme function")

  // Change the value of href attribute to change the css sheet.
  if (theme.getAttribute('href') == "/static/dist/output.css") { //dist
      theme.setAttribute('href', '/static/fonts/stylesheet.css');
      localStorage.setItem("styleType", '/static/fonts/stylesheet.css');
  } else {
      theme.setAttribute('href', "/static/dist/output.css"); dist
      localStorage.setItem("styleType", "/static/dist/output.css"); dist
  }
}

function setDefault(){
  console.log("got to setDefault function")
  theme.setAttribute('href', "/static/dist/output.css");

}

function keepCSS(){
  var theme = document.getElementsByTagName('link')[0];
  console.log("got to keepCSS function")
  if (theme.getAttribute('href') == localStorage.getItem("styleType")){ //if style.css is the current styleType, change nothing
  }
  else{
    theme.setAttribute('href', localStorage.getItem("styleType")); //if style.css is not the current styleType, change to style2.css
  }
}

window.onload = function(){
  setDefault();
  keepCSS();
  console.log("got to onload function")
}
</script>
<!--<script type="text/javascript" src="/static/fonts/script.js"></script>-->
