<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
    <link id="theme" href="/static/dist/output.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="bg-black bg-opacity-50  absolute inset-0 flex justify-center items-center">
    <div class="bg-gray-200 flex justify-center items-center">
      <div class="flex justify-between items-center mx-3">
        <h4 class="text-3xl font-bold mr-1">Error</h4>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        <div class="my-2 mx-3">
          <p class="text-2xl">This car was not identifiable, please try again.</p>
        </div>

        <div class="my-3">
          <button type="button" onclick="window.location.href='{{url_for('index')}}';" class="px-3 py-1 bg-red-500 rounded text-lg font-bold text-white" id="delete-btn">Okay</button>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="/static/fonts/script.js"></script>

</body>
</html>
