<!DOCTYPE html>
<html>
<head>
  <title>Search</title>

  <link href="/static/dist/output.css" rel="stylesheet" />
  <link href="/static/dist/dyslexic_font.css" rel="stylesheet"/>

</head>
<body>
    <!-- navigation bar -->
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 h-50">
      <div class="container flex flex-wrap justify-between items-center mx-auto h-full">
        <a href="front_page" class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-3 h-10" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" fill="#6366f1"/>
          </svg>
            <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">OneShot Car</span>
        </a>
        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto h-50" id="mobile-menu">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
            <li>
              <a href="front_page" class="block py-2 pr-4 pl-3 text-white bg-indigo-500 rounded md:bg-transparent md:text-indigo-500 md:p-0 dark:text-white" aria-current="page">Home</a>
            </li>
            <li>
              <a href="search" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Search</a>
            </li>
            <li>
              <a href="about" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
            </li>
            <li>
              <a href="history" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">History</a>
            </li>
            <li>
              <a href="contact" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact us</a>
            </li>
            <li>
              <a href="resources" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Resources</a>
            </li>
            <li>
              <a href="#" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Text to Speech</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Text Search</h1>

<!--Taking in inputs from user-->
    <form method="POST">

<div class="flex justify-center">
  <div>

    <div class="mb-3 xl:w-96">
      <label
        for="makeInput"
        class="form-label inline-block mb-2 text-gray-700 text-xl"
        >Make</label>
      <input
        type="text"
        class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
        id="makeInput"
        name="makeInput"
        placeholder="Enter Make"
        value="{{request.form['makeInput']}}"> </input>
    </div>

    <div class="mb-3 xl:w-96">
      <label for="modelInput" class="form-label inline-block mb-2 text-gray-700 text-xl"

        >Model</label
      >
      <input
        type="text"
        class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
        id="modelInput"
        placeholder="Enter Model"
        name="modelInput"
        value="{{request.form['modelInput']}}"> </input>

    </div>

    <div class="mb-3 xl:w-96">
      <label
        for="yearInput"
        class="form-label inline-block mb-2 text-gray-700 text-xl"
        >Year</label
      >
      <input
        type="number"
         class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
        id="yearInput"
        placeholder="Enter Year"
        name="yearInput"
        value="{{request.form['yearInput']}}"> </input>

    </div>
  </div>
</div>
    <button type="submit">Submit</button>
        </form>


<!--    <a href="results">Click Here For Results!</a>-->



</body>
</html>
