<!DOCTYPE html>
<html>
<head>
  <title>Search</title>

      <link id="theme" href="/static/dist/output.css" rel="stylesheet" type="text/css" />

</head>
<body class="font-serif">
    <!-- navigation bar -->
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 h-50">
      <div class="container flex flex-wrap justify-between items-center mx-auto h-full">
        <a href="front_page" class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" class="mr-3 h-10" viewBox="0 0 20 20" fill="none">
              <path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" fill="#bd672a"/>
          </svg>
            <span class="self-center text-lg font-bold whitespace-nowrap dark:text-white">OneShot Car</span>
        </a>
        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-2" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </button>
        <div class="hidden w-full md:block md:w-auto h-50" id="mobile-menu">
          <ul class="flex flex-col mt-4 md:flex-row md:space-x-10 md:mt-0 md:text-sm md:font-medium h-10">
            <li>
              <a href="front_page" class="block py-2 pr-4 pl-3 text-white bg-[#bd672a] rounded md:bg-transparent md:text-gray-700 md:p-0 dark:text-white font-bold" aria-current="page">Home</a>
            </li>
            <li>
              <a href="search" class="block py-2 pr-4 pl-3 text-[#bd672a] border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 font-bold">Search</a>
            </li>
            <li>
              <a href="about" class="text-center block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 font-bold">About Us</a>
            </li>
            <li>
              <a href="history" class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 font-bold">History</a>
            </li>
            <li>
              <a href="contact" class="text-center block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700 font-bold">Contact Us</a>
            </li>
            <li>
              <a href="resources" class="block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-[#bd672a] md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent font-bold">Resources</a>
            </li>
            <!-- Toggle B -->
            <div class="flex items-center justify-center w-full">
              <label for="toggleB" class="flex items-center cursor-pointer">
                <!-- toggle -->
                <div class="relative">
                  <!-- input -->
                  <input type="checkbox" id="toggleB" onclick="toggleTheme()" class="sr-only">
                  <!-- line -->
                  <div class="block bg-[#bd672a] w-14 h-8 rounded-full"></div>
                  <!-- dot -->
                  <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                </div>
                <!-- label -->
                <div class="ml-3 text-gray-700 font-bold text-sm">
                  Dyslexia
                </div>
              </label>
            </div>
          </ul>
        </div>
      </div>
    </nav>

    <!-- header -->
    <header class="text-[#bd672a] text-6xl text-center my-6 font-extrabold" style="text-shadow: 1px 1px 2px black">Text Search</header>

    <!--Taking in inputs from user-->
    <form method="POST">
      <div class="flex justify-center">
        <div>
          <div class="mb-3 xl:w-96">
            <label
              for="makeInput"
              class="form-label inline-block mb-2 text-gray-700 text-xl"
              >Make</label>
            <input
              type="text"
              class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
              id="makeInput"
              name="makeInput"
              placeholder="Enter Make"
              value="{{request.form['makeInput']}}"> </input>
          </div>

          <div class="mb-3 xl:w-96">
            <label for="modelInput" class="form-label inline-block mb-2 text-gray-700 text-xl"

              >Model</label
            >
            <input
              type="text"
              class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
              id="modelInput"
              placeholder="Enter Model"
              name="modelInput"
              value="{{request.form['modelInput']}}"> </input>

          </div>

          <div class="mb-3 xl:w-96">
            <label
              for="yearInput"
              class="form-label inline-block mb-2 text-gray-700 text-xl"
              >Year</label
            >
            <input
              type="number"
              class=" form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none "
              id="yearInput"
              placeholder="Enter Year"
              name="yearInput"
              value="{{request.form['yearInput']}}"> 
            </input>
          </div>
        </div>
      </div>

      <!-- submit button -->
      <div class="flex justify-center">
        <div class="flex justify-center my-6 content-center bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 border border-gray-400 rounded shadow w-24">
          <button type="submit">Submit</button>
        </div>
      </div>
    </form>
<script type="text/javascript" src="/static/fonts/script.js"></script>
</body>
</html>
