<!DOCTYPE html>
<html>
<head>
  <title>History</title>
</head>
<body>
    <nav id="navbar">
        <a href="front_page" id="logo">Navigation</a>
        <ul id="navlinks">
            <li><a href="front_page">Home</a></li>
            <li><a href="search">Search</a></li>
            <li><a href="about">About Us</a></li>    
            <li><a href="history">History</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="resources">Resources</a></li>
        </ul>
    </nav>

    <img src="logo.png" alt="OneShot Car Logo">

    <h1>History</h1>
</body>
</html>